@charset "UTF-8";
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/* Codigos para la pagina Galeria */
#galeriaPage .galeriaTitulo {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 100;
  font-size: 3rem;
  color: #ff5100;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
}

#galeriaPage .seccionImagenes {
  width: 100%;
  height: auto;
  background-color: #228db8;
  padding: 30px;
  display: grid;
  grid-template-areas: "item1 item2 item3" "item4 item5 item6";
  grid-row-gap: 50px;
}

#galeriaPage .foto {
  min-height: 200px;
  width: 90%;
  border: 2px solid #fff;
}

#galeriaPage #foto1 {
  background-color: firebrick;
}

#galeriaPage #foto2 {
  background-color: forestgreen;
  background-image: url("C:Users­minÞsktop\boreas+Franca - Desafiosimagevapor.jpg");
  background-size: cover;
}

#galeriaPage #foto3 {
  background-color: dodgerblue;
}

#galeriaPage #foto4 {
  background-color: cadetblue;
  background-image: url(sonicbar.jpg);
  background-size: cover;
}

#galeriaPage #foto5 {
  background-color: coral;
  background-image: url(img/img6.jpeg);
  background-size: cover;
}

#galeriaPage #foto6 {
  background-color: fuchsia;
}

/* Codigos CSS para la pagina ABOUT */
.profile-head {
  transform: translateY(5rem);
}

.cover {
  background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
  background-size: cover;
  background-repeat: no-repeat;
}

#aboutPage {
  background: #c5cada;
  background: linear-gradient(to right, #c5cada, #228db8);
  min-height: 100vh;
  overflow-x: hidden;
}

/* Codigos CSS para la pagina ABOUT */
.contactoTexto {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 100px;
  font-size: 2rem;
  color: #ff5100;
  padding: 2rem;
  margin: 5px 0px 15px 0px;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-name: aparecer;
  animation-name: aparecer;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Codigos Pagina de Noticias */
#noticiasPage {
  background: #c5cada;
  color: #228db8;
  font-family: "Hind Siliguri", sans-serif;
}

.table {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.table-text {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
  color: #ff5100;
}

.table-text small {
  font-size: 0.5em;
}

.responsive-table ol {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.responsive-table .table-header {
  background-color: rgba(189, 189, 196, 0.822);
  font-size: 14px;
  color: #ff5100;
  letter-spacing: 0.03em;
}

.responsive-table .table-row {
  background-color: #228db8;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.responsive-table .col-1 {
  flex-basis: 10%;
}

.responsive-table .col-2 {
  flex-basis: 40%;
}

.responsive-table .col-3 {
  flex-basis: 25%;
}

.responsive-table .col-4 {
  flex-basis: 25%;
}

@media all and (max-width: 400px) {
  .responsive-table .table-header {
    display: none;
  }

  .responsive-table ol {
    display: block;
  }

  .responsive-table .col {
    flex-basis: 100%;
  }

  .responsive-table .col {
    display: flex;
    padding: 10px 0;
  }

  .responsive-table .col:before {
    color: #6C7A89;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  background: #c5cada;
  color: #228db8;
  font-family: "Hind Siliguri", sans-serif;
}

.padding {
  padding: 3rem !important;
}

header {
  position: relative;
}

.logo {
  width: 100%;
  display: inline-flex;
}

.logoImage {
  width: 100px;
  height: 100px;
  padding: 1rem;
}

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 100px;
  font-size: 2rem;
  color: #ff5100;
  padding: 2rem;
  margin: 5px 0px 15px 0px;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-name: aparecer;
  animation-name: aparecer;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#indexImagen {
  width: 100%;
}

#indexImagen img {
  width: 100%;
}

#page-content {
  margin-bottom: 15rem;
}

.flex {
  flex: 1 1 auto;
}

@media (max-width: 1400.98px) {
  .padding {
    padding: 2.5rem;
  }

  #page-content {
    margin-bottom: 13rem;
  }
}
@media (max-width: 971.98px) {
  .padding {
    padding: 1.5rem;
  }

  #page-content {
    margin-bottom: 9rem;
  }
}
@media (max-width: 700.98px) {
  .padding {
    padding: 1rem;
  }
}
.image-box {
  max-width: 100%;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
}

/* Boxes */
.boxes {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(375px, 2fr));
}

.box {
  background: #c5cada;
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: #c5cada;
}

.index-to-galeria {
  width: 100%;
  height: 800px;
}

.overlay {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: -10;
  background-color: var(--contrast-color);
}

.contenedor {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  color: #228db8;
  -webkit-animation: expand 0.8s ease forwards;
  animation: expand 0.8s ease forwards;
  background-color: var(--secondary-color);
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: all 0.8s ease;
}

@media (max-width: 750px) {
  .contenedor {
    flex-direction: column;
  }
}
.contenedor_content {
  width: 50%;
}

.contenedor_content_inner {
  width: 80%;
  margin-left: 80px;
}

.contenedor_outer_img {
  margin: 50px;
  width: 50%;
  overflow: hidden;
}

.contenedor_img {
  width: 100%;
  -webkit-animation: slideIn 1.5s ease-in-out forwards;
  animation: slideIn 1.5s ease-in-out forwards;
}

.par {
  height: auto;
  overflow: hidden;
}

.accesoGaleria {
  color: #228db8;
  line-height: 28px;
  transform: translateY(300px);
  -webkit-animation: slideUp 0.8s ease-in-out forwards 0.8s;
  animation: slideUp 0.8s ease-in-out forwards 0.8s;
}

.btns {
  height: 100%;
  position: relative;
  width: 150px;
  overflow: hidden;
}

.btns_more {
  background: transparent;
  border: 1px solid #ff5100;
  border-radius: 50px;
  padding: 8px 12px;
  color: #ff5100;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  margin-top: 15px;
  outline: none;
  transform: translateY(50px);
  -webkit-animation: slideUp 0.8s ease-in-out forwards 1s;
  animation: slideUp 0.8s ease-in-out forwards 1s;
}

.title {
  overflow: hidden;
  height: auto;
}

@-webkit-keyframes slideIn {
  0% {
    transform: translateX(500px) scale(0.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(500px) scale(0.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}
@-webkit-keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-webkit-keyframes expand {
  0% {
    transform: translateX(1400px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes expand {
  0% {
    transform: translateX(1400px);
  }
  100% {
    transform: translateX(0px);
  }
}
.pb-video-container {
  padding-top: 20px;
  background: #c5cada;
  font-family: Lato;
}

.pb-video {
  border: 1px solid #e6e6e6;
  padding: 5px;
}

.pb-video:hover {
  background: #ff5100;
}

.pb-video-frame {
  transition: width 2s, height 2s;
}

.pb-video-frame:hover {
  height: 300px;
}

.pb-row {
  margin-bottom: 10px;
}

/* Footer */
section {
  padding: 60px 0;
}

#footer {
  background: #c5cada !important;
}

#footer .h7 {
  padding-left: 10px;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color: #228db8;
}

#footer a {
  color: #228db8;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

#footer ul.social li {
  padding: 3px 0;
}

#footer ul.social li a i {
  margin-right: 5px;
  font-size: 25px;
  transition: 0.5s all ease;
}

#footer ul.social li:hover a i {
  font-size: 30px;
  margin-top: -10px;
}

#footer ul.quick-links li a {
  color: #228db8;
}

#footer ul.social li a:hover {
  color: #ff5100;
}

#footer ul.quick-links li {
  padding: 3px 0;
  transition: 0.5s all ease;
}

#footer ul.quick-links li:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 700;
}

#footer ul.quick-links li a i {
  margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
  font-weight: 700;
}

@media (max-width: 767px) {
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-top: 2rem;
    margin-bottom: 10px;
  }
}

/*# sourceMappingURL=estilos.css.map */
