/* Codigos Pagina de Noticias */

#noticiasPage {
    background: #c5cada;
    color: #228db8;
    font-family: "Hind Siliguri", sans-serif;
}

.table {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.table-text {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
    color: #ff5100;
}
.table-text small {
    font-size: 0.5em;
}

.responsive-table ol {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.responsive-table .table-header {
    background-color: rgba(189, 189, 196, 0.822);
    font-size: 14px;
    color: #ff5100;
    letter-spacing: 0.03em;
}
.responsive-table .table-row {
    background-color: #228db8;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.responsive-table .col-1 {
    flex-basis: 10%;
}
.responsive-table .col-2 {
    flex-basis: 40%;
}
.responsive-table .col-3 {
    flex-basis: 25%;
}
.responsive-table .col-4 {
    flex-basis: 25%;
}
@media all and (max-width: 400px) {
    .responsive-table .table-header {
    display: none;
}
.responsive-table ol {
    display: block;
    }
.responsive-table .col {
    flex-basis: 100%;
    }
    .responsive-table .col {
    display: flex;
    padding: 10px 0;
    }
    .responsive-table .col:before {
    color: #6C7A89;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
    }
}